.centered-navigation {
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: $pink;
  $centered-navigation-color: #fff;
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $centered-navigation-background;
  border-bottom: 1px solid darken($centered-navigation-background, 6%);
  min-height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;
  position: fixed;

  // Mobile view

  .mobile-logo {
    display: inline;
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding;

    img {
      max-height: $centered-navigation-height;
      opacity: .6;
      padding: .8em 0;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .centered-navigation-mobile-menu {
    color: $centered-navigation-color;
    display: block;
    float: right;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $centered-navigation-color-hover;
    }
  }

  // Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }

  // The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;

    a {
      color: $centered-navigation-color;
      display: inline-block;
      outline: none;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $centered-navigation-color-hover;
      }
    }

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;

      a {
        padding-right: $centered-navigation-item-padding;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$centered-navigation-logo-height / 3;
    max-height: $centered-navigation-logo-height;
    opacity: 0.6;
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $centered-navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -0.4em auto auto);
      color: $centered-navigation-color;
      content: "\25BE";
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $centered-navigation-submenu-padding;
      }

      &:after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$centered-navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $centered-navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($centered-navigation-background, 3%);
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $centered-navigation-background;
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
        }
      }
    }
  }
}

.accordion-tabs-minimal {
  $base-border-color: #dcdcdc !default;
  $base-background-color: #fff !default;
  $base-spacing: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $medium-screen: em(640) !default;
  $tab-link-color: $dark-gray;
  $tab-border: 1px solid $base-border-color;
  $tab-active-background: $base-background-color;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: #c0c0c0;
  $tab-mode: $medium-screen;
  text-align: center;

  @include clearfix;
  line-height: 1.5;
  padding: 0;

  .tab-header-and-content {
    list-style: none;

    @include media($tab-mode) {
      display: inline;
    }
  }

  .tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $tab-link-color;
    display: block;
    padding: ($base-spacing / 2) $gutter;
    text-decoration: none;

    @include media($tab-mode) {
      @include inline-block;
      border-top: 0;
    }

    &:hover {
      color: $action-color;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      border-bottom: 0;

      @include media($tab-mode) {
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    display: none;
    padding: $base-spacing $gutter;
    width: 100%;

    @include media($tab-mode) {
      border-top: $tab-border;
      float: left;
    }
  }
}

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items-lines {
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: $base-background-color;
  $grid-item-border: 1px solid transparentize($base-font-color, 0.8); 
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: $base-font-color;
  $grid-item-height: 18em;
  margin-top:40px;

  @include clearfix;
  position: relative;

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background;
    border-bottom: $grid-item-border;
    border-right: $grid-item-border;
    //cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-decoration: none;
    width: 100%;
    text-align: center;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    &:focus,
    &:hover {
      background: transparentize($grid-item-color, 0.95);
    }
    h3{font-size: 1.2em;}
  }

  .grid-item img {
      text-align:center;
      display: inline-block;
      height: 2.5em;
      margin-bottom: 1.2em;
      opacity: 0.2;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: 0.4em;
    }

  .grid-item p {
      color: transparentize($grid-item-color, 0.4);
      line-height: 1.5em;
      text-align: center;

      @include media($medium-screen) {
        //max-width: 70%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        //max-width: 60%;
      }
    }
  }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    background: $grid-items-background;
    bottom: 0px;
    height: 3px;
    position: absolute;
    width: 100%;
  }

  .right-cover {
    background: $grid-items-background;
    height: 100%;
    position: absolute;
    right: 0px;
    width: 4px;
  }
}



#wedding{
  //@include outer-container;
  padding:100px 60px 60px 60px;
  .accordion-tabs-minimal{margin-top:60px;}
  .box{ @include span-columns(3);}

}
#oaxaca{
  padding:120px 0px 0px 0px;
  color:#fff;

  .row{
    overflow: hidden; margin-top: 80px;
    .box{
      width:50%;
      float:left;
      @media screen and (max-width: 768px) {
       width:100%;
     }
      img{display: block; margin: 0!important; padding:0!important}
      .box-content{
        padding: 60px 20px;
        text-align: center;
      }
    }
    a.btn{border:1px solid #fff; padding: 5px 20px; color:#fff;
      &:hover{background-color: #fff; color:$purple; cursor: pointer;}
    }
    dl{
      text-align: center; font-size: 18px; overflow: hidden;
      dt{text-transform: uppercase;
        span{display: block; font-size: 13px; font-weight: 300;}
      }
      dd{color: rgba($dark-gray, .5); font-size: 15px; font-weight: 300;
        &:after{content: "•"; display: block;}
      }
    }
    .restaurantes{
      dd:after{color:$red}
      border-bottom:  1px dashed $red;
    }
    .bares{
      dd:after{color:$orange}
      border-bottom:  1px dashed $orange;
    }
    .paseos{
      dd:after{color:$yellow}
      border-bottom:  1px dashed $yellow;
    }
    .arte{
      dd:after{color:$orange}
      border-bottom:  1px dashed $orange;
    }
    .artesanias{
      dd:after{color:$red}
      border-bottom:  1px dashed $red;
    }
    .recorridos{
      dd:after{color:$burgundy}
      border-bottom:  1px dashed $burgundy;
    }
    .salones{
      dd:after{color:$burgundy}
      border-bottom:  1px dashed $burgundy;
    }
    .taxis{
      dd:after{color:$red}
      border-bottom:  1px dashed $red;
    }
    .aeropuerto{
      dd:after{color:$orange}
      border-bottom:  1px dashed $orange;
    }
    .emergencia{
      dd:after{color:$yellow}
      border-bottom:  1px dashed $yellow;
    }
    .info{
      dd:after{color:$green}
      border-bottom:  1px dashed $green;
    }
    .hoteles{
      dd:after{color:$pink; padding-top: 20px;}
      b{font-size: 12px;}
      border-bottom:  1px dashed $pink;
      span a{color:$medium-gray; border-bottom: 1px solid $light-gray; padding-bottom: 2px; margin-bottom: 15px; display: inline-block;}
    }
  }
}

//modal
.modal {
  $base-border-color: #dcdcdc !default;
  $base-border-radius: 3px !default;
  $base-background-color: #fff !default;
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: darken($light-gray, 15%);
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;
  $modal-trigger-image-width: 300px;

  .modal-state {
    display: none;
  }

  .modal-fade-screen { // overlay
    @include transition(opacity 0.25s ease);
    @include position(fixed, 0);
    background-color: rgba(#fff, 1);
    opacity: 0;
    padding-top: 0.6em;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    @include media($large-screen) {
      padding-top: 4em;
    }

    .modal-bg {
      @include position(absolute, 0);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(fixed, 40px 40px 0 right);
    @include size(2.5em);
    background: $modal-background;
    cursor: pointer;
    @media screen and (max-width: 600px) {
      @include position(fixed, 20px 20px 0 right);
      @include size(1.25em);
    }

    &:after,
    &:before {
      @include position(absolute, 0px 30px 0 50%);
      @include transform(rotate(45deg));
      @include size(0.1em 2.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: 0px 0 0 0px;
      @media screen and (max-width: 600px) {
      @include position(absolute, 0px 15px 0 50%);
      @include size(0.1em 1.25em);
      }
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 20%);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }
  .modal-close-btn{
    background-color: $purple; padding: 7px 20px; color:#fff; display: inline-block; font-weight: 300;
    left: 50%; transform: translate(-50%, 0%); position: absolute;
    &:hover{
      cursor: pointer;
      background-color: lighten($purple, 10%);
    }
  }

  .modal-inner {
    @include transition(opacity 0.25s ease);
    background: $modal-background;
    border-radius: $base-border-radius;
    margin-top: 0;
    margin: auto;
    max-height: 100%;
    overflow: auto;
    padding: $modal-padding / 2;
    position: relative;
    width: 100%;
    color:$dark-gray;

    .modal-title{
      position: fixed;
      width: 100%;
      top:0px; left:50%; transform: translate(-50%, 0%);
      text-align: center; font-size: 50px; line-height: 50px; font-weight: 300;
      padding: 40px 0;  background-color: #fff;
      box-shadow: 1px 1px 1px lighten($light-gray, 5%);
      @media screen and (max-width: 600px) {
        padding: 50px 0 10px 0;
        font-size: 30px; line-height: 30px; font-weight: 300;
      }
    }


    @include media($medium-screen) {
      max-height: 100%;
      padding: $modal-padding;
      width: 100%;
    }

    @include media($large-screen) {
      width: 100%;
    }


    h1 {
      color: $base-font-color;
      text-transform: capitalize;
      font-size: 30px;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
      text-align: center;
      font-weight: 300;
    }

    .modal-intro {
      margin-bottom: 1em;
    }

    .modal-content {
      color:#333;
    }

    a.cta {
      color: $base-background-color;
      display: inline-block;
      margin-right: 0.5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-fade-screen .modal-inner {
    top: 0.5em;
  }
}

.modal-open {
  overflow: hidden;
}
#contact{
  padding:100px 60px 60px 60px;
}
#rsvp{
  padding:100px 60px 60px 60px;
  color:#fff;

}
#gift{
  padding:100px 60px 60px 60px;
  color:#fff;
  //background-image: url(../images/bg/1.jpg);
  //background-position: fixed;
  .boxes{
      @include outer-container;
    .box{
      @include span-columns(6);
    }
  }
}


