//colors
.c-light-pink {color: $light-pink;}
.c-pink {color: $pink;}
.c-light-blue {color: $light-blue;}
.c-blue {color: $blue;}
.c-dark-gray {color: $dark-gray;}
.c-medium-gray {color: $medium-gray;}
.c-light-gray {color: $light-gray;}

//backgrounds
.bg-light-pink {background-color: $light-pink;}
.bg-pink {background-color: $pink;}
.bg-light-blue {background-color: $light-blue;}
.bg-blue {background-color: $blue;}
.bg-dark-gray {background-color: $dark-gray;}
.bg-medium-gray {background-color: $medium-gray;}
.bg-light-gray {background-color: $light-gray;}
