//colors
.c-green {color: $green;}
.c-pink {color: $pink;}
.c-yellow {color: $yellow;}
.c-purple {color: $purple;}
.c-red {color: $red;}
.c-orange {color: $orange;}
.c-burgundy {color: $burgundy;}
.c-dark-gray {color: $dark-gray;}
.c-medium-gray {color: $medium-gray;}
.c-light-gray {color: $light-gray;}

//backgrounds
.bg-green {background-color: $green;}
.bg-pink {background-color: $pink;}
.bg-yellow {background-color: $yellow;}
.bg-purple {background-color: $purple;}
.bg-red {background-color: $red;}
.bg-orange {background-color: $orange;}
.bg-burgundy {background-color: $burgundy;}
.bg-dark-gray {background-color: $dark-gray;}
.bg-medium-gray {background-color: $medium-gray;}
.bg-light-gray {background-color: $light-gray;}