body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight:300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1{font-size: 60px; font-weight:100; text-transform: uppercase; text-align: center; line-height: 60px; letter-spacing: 3px;}
h2{font-size: 30px; font-weight:100; text-align: center; line-height: 30px; letter-spacing: 1px;}
h3{font-size: 30px; font-weight:300; text-transform: uppercase; text-align: center; line-height: 30px; letter-spacing: 1px;}

@media screen and (max-width: 768px) {
h1{font-size: 40px; font-weight:100; text-transform: uppercase; text-align: center; line-height: 40px; letter-spacing: 2px;}
 }
p {
  margin: 0 0 $small-spacing;
  font-weight: 100;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
