@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
$lato: 'Lato', sans-serif;

// Typography
$base-font-family: $lato;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 2px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$green: #3e7363;
$pink: #e91852;
$yellow: #fc9400;
$purple: #602052;
$red: #db3935;
$orange: #fd5d00;
$burgundy: #4d0512;
$dark-gray: #3a3938;
$medium-gray: #7a7877;
$light-gray: #e8e6e3;


// Font Colors
$base-font-color: $dark-gray;
$action-color: $pink;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// sizes
$m-xxs: 2px 4px;
$m-xs:  5px;
$m-sm:  10px;
$m:     15px;
$m-md:  20px;
$m-lg:  30px;
$m-xl:  50px;
$m-xxl: 60px;
$m-n:   0;
$m-1:   1px;