@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans');

$lato: 'Lato', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Typography
$base-font-family: $josefin;
$heading-font-family: $josefin;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 2px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-gray: #3a3938;
$medium-gray: #7a7877;
$light-gray: #e8e6e3;
$light-pink: #FBEDEC;
$pink: #F8DBE0;
$light-blue: #CDDFED;
$blue: #ABC5D2;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// sizes
$m-xxs: 2px 4px;
$m-xs:  5px;
$m-sm:  10px;
$m:     15px;
$m-md:  20px;
$m-lg:  30px;
$m-xl:  50px;
$m-xxl: 60px;
$m-n:   0;
$m-1:   1px;
